:root {
  --dark: #1e1e1e;
}

main {
  flex: 1;
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header,
section {
  width: 100%;
  padding: 4em calc((100% - 900px) / 2);
}

header *,
section * {
  animation: fadeIntro 1.5s ease;
}

@keyframes fadeIntro {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}

/* ------- Intro ------- */

.intro {
  background-color: var(--dark);
  min-height: 80vh;
  display: flex;
}

.strikethrough {
  text-decoration: line-through;
}

.intro span,
.intro a {
  color: white;
  font-weight: 500;
  line-height: 1.5em;
}

.intro h1 {
  color: #e6b1b1;
  line-height: 1em;
  margin: 0.25em 0;
}

.introName {
  font-size: 4em;
  margin: 0;
}

.introLinks {
  margin-top: 2em;
  width: 300px;
  display: flex;
  justify-content: space-around;
}

.introLeft,
.introRight {
  flex: 1;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.introLeft {
  background-image: url("/img/flower.png"),
    linear-gradient(0deg, var(--dark), var(--dark));
  background-repeat: no-repeat;
  background-blend-mode: multiply;
  background-size: contain;
  background-position: center;
}

.introImage {
  height: 100%;
  max-height: 350px;
  width: 100%;
  background-blend-mode: multiply;
  background-image: url(/crinkledpaper.png), url(/mew.png);
  background-repeat: no-repeat;
  background-size: auto 90%;
  background-position: center;
}

.introImageHighlight {
  mix-blend-mode: multiply;
  height: 105%;
}

.draw {
  stroke-dasharray: 3275;
  stroke-dashoffset: 3275;
  animation: drawOnLoad 1.5s ease-in;
  animation-delay: 1.5s;
  animation-fill-mode: forwards;
}

@keyframes drawOnLoad {
  0% {
    opacity: 0%;
  }
  1% {
    opacity: 1000%;
    stroke-dashoffset: 3275;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

.about,
.projects {
  border-top: 40px solid transparent;
  border-image: url("/img/washitape.png") 15% round;
  padding-bottom: 5em;
}

.about h2,
.projects h2 {
  color: #ae4d4d;
  mix-blend-mode: multiply;
  font-size: 2.5em;
  text-align: center;
}

/* ------- About ------- */

.about {
  background-blend-mode: multiply;
  background-image: url("/img/jasmine.jpg"), url("/img/jasmine-rotated.jpg"),
    linear-gradient(
      0deg,
      lightgray,
      transparent 20%,
      transparent 80%,
      lightgray
    );
  background-size: auto 80%, auto 80%, 100%;
  background-position: calc(50% - (55ch / 2) - 150px),
    calc(50% + (55ch / 2) + 150px), center;
  background-repeat: no-repeat;
  padding: 2em 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about h2 {
  margin-bottom: 0.5em;
}

.about p {
  width: 55ch;
}

/* ------ Projects ------ */

.projects {
  background-image: linear-gradient(0deg, #ffffff66, #ffffff66),
    repeating-linear-gradient(
      0deg,
      transparent 1px,
      #e6b1b1 1px,
      #e6b1b1 2px,
      transparent 2px,
      transparent 20px
    ),
    repeating-linear-gradient(
      90deg,
      transparent 1px,
      #e6b1b1 1px,
      #e6b1b1 2px,
      transparent 2px,
      transparent 20px
    );
}

.polaroids {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-content: center;
}

.polaroid {
  margin-top: 2em;
  background: white;
  padding: 0.75em 0.75em 1.5em 0.75em;
  box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.25);
  width: calc(250px + 1.5em);
  transition: box-shadow 0.25s ease, translate 0.25s ease;
  text-align: center;
}

.polaroid:hover {
  translate: 0px -4px;
  box-shadow: 0px 4px 6px 1px rgba(0, 0, 0, 0.25);
}

.polaroidImage {
  width: 250px;
  height: 250px;
  object-fit: contain;
  margin-bottom: 1em;
  filter: grayscale();
}

/* -------- Contact -------- */

.contact {
  display: flex;
  justify-content: center;
  background-blend-mode: lighten;
  background-image: url("/img/washitape.png"), linear-gradient(0deg, pink, pink);
  box-shadow: 1px 1px 8px 1px rgba(0, 0, 0, 0.25);
}

.businessCard {
  background: var(--dark);
  width: 21em;
  padding: 1.5em;
  color: white;
  box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.25);
  height: 14em;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.businessCard h2 {
  font-size: 2.5em;
  display: inline-block;
  border-bottom: white solid 6px;
  margin: 0 0 0.5em 0;
}

@media (max-width: 1000px) {
  .intro,
  .about,
  .projects,
  .contact {
    width: 100%;
    padding: 2.5em;
  }
}

@media (max-width: 750px) {
  .intro {
    padding: 2.5em 2em;
    min-height: 0;
  }
  .introLeft {
    margin: 3rem 0;
  }
  .introImage {
    display: none;
  }
  .intro,
  .polaroids {
    flex-direction: column;
  }
  .about,
  .projects {
    padding: 2.5em;
  }
  .about h2,
  .projects h2 {
    font-size: 2em;
  }
  .about p {
    width: 100%;
  }
  .projects,
  .contact {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .polaroid {
    margin-bottom: 2em;
  }
  .polaroid:last-of-type {
    margin-bottom: 0;
  }
}
