@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@300;400&display=swap');

:root {
  --text-color: #504057;
  --link-color: #7f3e8f;
}

* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
}

body {
  background-blend-mode: overlay;
  background-attachment: fixed;
  background: linear-gradient(
      360deg,
      #b197a8 25%,
      #a9b1e2 35%,
      #d0c8c7 50%,
      #e2d1b6 75%
    ),
    radial-gradient(
      70% 130% at 50% 20%,
      #dbdbdb 35%,
      #b6bfff 55%,
      #dd99c6 75%,
      #fa845c 100%
    );

  color: var(--text-color);
  font-size: 20px;
  font-family: 'Crimson Pro', Georgia, Times, 'Times New Roman', serif;
  line-height: 1.5;
  min-height: 100vh;
}

main {
  padding: 10vh max(1rem, calc((100% - 50ch) / 2)) 0;
}

nav {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding: 2em 2em 0 2em;
  font-size: 0.875em;
  display: flex;
}

nav .right {
  margin-left: auto;
}

nav a {
  text-decoration: none;
  color: var(--text-color);
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 500;
}

h1, nav {
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.25ch;
}

h2 {
  font-size: 1.25em;
}

h3 {
  font-size: 1.125em;
}

a {
  color: var(--text-color);
  text-decoration-color:  var(--text-color);
}

a:hover {
  color: var(--link-color);
  text-decoration-color:  var(--link-color);
}

.socials {
  margin-top: 2rem;
  text-align: right;
}

.social {
  filter: invert(20%) sepia(1) saturate(100%) hue-rotate(250deg);
  height: 32px;
  width: 32px;
  margin-right: 12px;
  text-align: right;
}

.socials a:hover {
    filter: brightness(1.5) saturate(300%);
    margin-top: 2rem;
    text-align: right;
}

blockquote {
  border-left: var(--text-color) 4px;
  margin: 0;
  padding: 1rem;
  font-style: italic;
  border-left: 4px solid #b6bdff;
  font-size: 1.25rem;
}

blockquote #attribution {
  font-style: normal;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 0.75rem;
  margin-top: 0.5rem;
}

article {
  margin-bottom: 20vh;
}

@media (prefers-color-scheme: dark) {
  body {
    background: linear-gradient(360deg, #A17CAD 0.67%, #9199AD 13.91%, #2A5089 34.33%, #1d243e 58.15%), radial-gradient(61.08% 85.89% at 50% 50%, #303a91 34.9%, #824eaa 54.17%, #BE99D0 72.4%, #FFD89F 92.19%);
    --text-color: #EEE8F1;
    --link-color: #e0a3ff;
    background-blend-mode: multiply;
    font-weight: 300;
  }

  .social {
    filter: invert(100%);
  }

  .socials a:hover {
    filter: brightness(0.5) sepia(1) saturate(300%) hue-rotate(230deg);
    margin-top: 2rem;
    text-align: right;
  }
}

@media (max-width: 600px) {
  main {
    padding: 1em 2em 2em 2em;
  }
}